* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: top;
    
    min-height: 100vh;
    margin: 0;
}

#canvas {
    background: #f0f0f0;
    border-radius: 5px;
}


* {
    touch-action: manipulation;
}

.body,
.wrapper {
  /* Break the flow */
  position: absolute;
  top: 0px;

  /* Give them all the available space */
  width: 100%;
  height: 100%;

  /* Remove the margins if any */
  margin: 0;

  /* Allow them to scroll down the document */
  overflow-y: hidden;
}

.body {
  /* Sending body at the bottom of the stack */
  z-index: 1;
}

.wrapper {
  /* Making the wrapper stack above the body */
  z-index: 2;
}